.cont-nav {
    position: sticky;
    top: 20px;
    background-color: #8c5a2a;
}

.ttl {
     color: white;
     margin-left: 10px;
     margin-right: 10px;
}

.ent {
    /* bordes */
    border-color: #8c5a2a;
    border-radius: 0%;
    border-style: solid;

    height: 530px;
    width: 530px;
}

.aut {
    /* bordes */
    border-color: #8c5a2a;
    border-radius: 0%;
    border-style: solid;

    height: 530px;
    width: 530px;
}

.conf {
    /* bordes */
    border-color: #8c5a2a;
    border-radius: 0%;
    border-style: solid;

    height: 530px;
    width: 530px;
}

.esp {
    /* bordes */
    border-color: #8c5a2a;
    border-radius: 0%;
    border-style: solid;

    height: 530px;
    width: 530px;
}

.ilu {
    /* bordes */
    border-color: #8c5a2a;
    border-radius: 0%;
    border-style: solid;

    height: 530px;
    width: 530px;
}

.fel {
    /* bordes */
    border-color: #8c5a2a;
    border-radius: 0%;
    border-style: solid;

    height: 530px;
    width: 530px;
}

.ale {
    /* bordes */
    border-color: #8c5a2a;
    border-radius: 0%;
    border-style: solid;

    height: 530px;
    width: 530px;
}

.dol {
    /* bordes */
    border-color: #8c5a2a;
    border-radius: 0%;
    border-style: solid;

    height: 530px;
    width: 530px;
}

.suf {
    /* bordes */
    border-color: #8c5a2a;
    border-radius: 0%;
    border-style: solid;

    height: 530px;
    width: 530px;
}

.cal {
    /* bordes */
    border-color: #8c5a2a;
    border-radius: 0%;
    border-style: solid;

    height: 530px;
    width: 530px;
}

.mid {
    /* bordes */
    border-color: #8c5a2a;
    border-radius: 0%;
    border-style: solid;

    height: 530px;
    width: 530px;
}

.car{
    /* bordes */
    border-color: #8c5a2a;
    border-radius: 0%;
    border-style: solid;

    height: 530px;
    width: 530px;
}

.rfx-prs {
        /* bordes */
        border-color: #8c5a2a;
        border-radius: 0%;
        border-style: solid;
    
        height: 530px;
        width: 530px;
}